.Wrapper {
  display: flex;
  padding: 10px;
}

.input {
  flex: 1 0 auto;
  font-size: 1.4rem;
  padding: 5px 10px;
  border: none;
  outline: none;
}
.button {
  cursor: pointer;
  background-color: rgb(255, 166, 0);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 30px;
  border: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
}

.button:hover {
  filter: brightness(110%);
}
