.DeleteButton {
  background: transparent;
  border: 0;
  font-size: 0.7em;
  margin-left: 10px;
  padding: 0;
  cursor: pointer;
  transition: all 150ms ease-out;
  color: var(--color-todo-font);
}

.DeleteButton::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  transition: all 150ms ease-out;
  z-index: -1;
}

.DeleteButton:hover::before {
  background-color: var(--color-accent);
}

.DeleteButton:hover {
  transform: rotate(15deg) scale(1.3);
}
