@media screen and (max-width: 440px) {
  aside {
    float: none !important;
    width: 100% !important;
    height: auto !important;
    .menu {
      margin: 0;
    }
  }
  section {
    float: none !important;
    width: 100% !important;
    height: 70% !important;
    /* overflow-y: scroll; */
  }
  #todoList {
    padding: 0;
  }
  footer {
    clear: none !important;
  }
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}
button {
  background: transparent;
  border: 0;
  text-transform: capitalize;
  cursor: pointer;
}

header {
  height: 5%;
  width: 98%;
  background-color: #2564cf;
  display: flex;
  align-items: center;
  color: white;
  padding: 0 1%;
  font-size: 1.5rem;
  font-weight: bold;
}
aside {
  float: left;
  width: 18%;
  height: 90%;
  border-right: 0.5px solid rgb(0, 0, 0, 0.1);
  padding: 0 1%;
}
.menu {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;

  button {
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 0.5rem 0;
  }

  img {
    width: 1rem;
    margin-right: 1rem;
  }
}
section {
  float: left;
  width: 79%;
  height: 90%;
}

.inputWrap {
  /* height: auto; */
}
#todoForm {
  display: flex;
  justify-content: center;
  /* height: auto; */
}
#todoInput {
  padding: 2% 0;
  flex: 0.8 0 auto;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.201);
  outline: none;
}
#todoInput::placeholder {
  font-size: 1rem;
  font-weight: bold;
}

.todoWrap {
  height: 90%;
  padding: 1rem;
  overflow-y: scroll;
  button {
    margin: 10px;
    cursor: pointer;
  }
}
#todoList {
  /* margin: 2rem; */
}

#todoItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin: 0.5rem 0;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.244);
}
#todoDetailWrap {
  width: 30%;
  height: 40%;
  background-color: white;
  position: absolute;
  top: 10%;
  left: 65%;
  z-index: 1;
  box-shadow: 0 0 10px gray;
  border-radius: 10px;
  padding: 1% 2%;
  overflow-y: scroll;
}
#todoDetailWrap::-webkit-scrollbar {
  display: none;
}
#detailCloseButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
#detailCloseImg {
  width: 1.5rem;
}
#detailUl {
  margin: 0;
  padding: 0;
  width: 100%;
  li {
    list-style: none;
    margin: 1rem 0;
    img {
      width: 1rem;
    }
  }
}
#detailImgWrap {
  button {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  #activeButton::after {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    content: "Active";
  }
  #completeButton::after {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    content: "Complete";
  }
  #normalButton::after {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    content: "Normal";
  }
  #importantButton::after {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    content: "Important";
  }
  img {
    width: 1.5rem;
  }
}

#textLi {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2;
}
#deleteButton {
  position: absolute;
  top: 13%;
  right: 0;
  cursor: pointer;
  padding: 0.5rem 1rem;
  img {
    width: 1.5rem;
  }
}
#todoItem {
  width: 100%;
  margin: 1rem 0;
  img {
    width: 1.5rem;
  }
}
#todoText {
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.todoWrap::-webkit-scrollbar {
  display: none;
}

footer {
  width: 100%;
  height: 5%;
  background-color: #2564cf;
  clear: both;
  position: fixed;
  bottom: 0;
}
