body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
button {
  text-transform: capitalize;
  font-weight: bold;
  color: white;
  background: none;
  border: 0;
}
.wrapper {
  width: 500px;
  height: 500px;
  background-color: rgba(128, 128, 128, 0.16);
}

.filterWrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.797);
  color: white;
  font-weight: bold;
}

.todoWrapper {
  height: 80%;
  /* background-color: blue; */
  overflow-y: scroll;
  width: 100%;
}
.todoWrapper::-webkit-scrollbar {
  width: 8px; /* 스크롤바 너비 설정 */
}

.todoWrapper::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 설정 */
  border-radius: 4px; /* 스크롤바 모서리 둥글게 만들기 */
}

#todoList {
  width: 90%;
  height: 90%;
  margin: 0;
  padding: 5%;
}

#todoItem {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1rem 0;
  button {
    flex-shrink: 0; /* 버튼 요소의 크기 변경 금지 */
    background: transparent;
    border: 0;
    font-weight: bold;
  }
}

.formWrapper {
  height: 10%;
  background-color: rgba(0, 0, 0, 0.194);
  display: flex;
  align-items: center;
}
#todoForm {
  width: 94%;
  padding: 3%;
  display: flex;
  input {
    flex: 1 0 auto;
  }
}
#inputTodoText {
  padding: 2%;
}
#addButton {
}
#completed {
  color: gray;
  text-decoration: line-through;
}
