.wrapper {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  width: 500px;
  height: 500px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(128, 128, 128, 0.151);
  /* padding: 1rem; */
  border-radius: 10px;
}
