.HeaderWrapper {
  background-color: var(--color-accent);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-border);
}

.darkModeIcon {
  background: transparent;
  border: 0;
  color: var(--color-font-accent);
  font-size: 25px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 150ms ease-out;
}
.darkModeIcon:hover {
  transform: scale(1.3);
}
.HeaderUl {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.HeaderLi {
  cursor: pointer;
  margin: 0 15px;
  font-size: 1.4rem;
  color: var(--color-font);
  transition: all 150ms ease-out;
  padding: 10px;
  font-weight: bold;
}

.HeaderLi:hover {
  transform: scale(1.3);
  color: var(--color-font-accent);
}

.selected {
  color: var(--color-font-accent);
  font-weight: bold;
}
